*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: rgb(65, 65, 66);
}

.container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

#timer{
    color: #fff;
    font-size: 35px;
    padding-top: 0px;
}

.df{
    margin: 100px auto;
    width: 1000px;
    height: 700px;
    background-color: #fff;
}

.gameScreen{
    width: 1000px;
    height: 700px;
    position: relative;
}

.img{
    height: 100px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
}